= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "general-form"}) do |f|
  .form-group.mb-30
    = f.label :email, I18n.t('enter_email'), class: "control-label input-label"
    = f.email_field :email, autofocus: true, placeholder: I18n.t('enter_email'), id: "email", class: "form-control"
  .form-group.mb-30
    = f.label :password, class: "control-label input-label"
    = f.password_field :password, placeholder: I18n.t('password'), id: "password", class: "form-control"
    = link_to I18n.t('forgot_password'), new_password_path(resource_name), class: "help-block in-gold-500"
  .form-group.checkbox.text-center.mb-30
    %label.checkbox-label
      = f.check_box :remember_me, class: "checkbox-input", hidden: true
      %span.checkbox-icon
        %i.fa.fa-check
      %span.checkbox-text= I18n.t('remember_me')
  .text-center
    = f.submit I18n.t('back_to_store'), class: "btn btn-default mb-20"